@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid indexDiv">
    <div class="row content carouselDiv">
        <div id="demo" class="carousel slide carouselDiv" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="Images/1.jpg" alt="First" width="500" height="300">
                </div>
                <div class="carousel-item">
                    <img src="Images/2.jpg" alt="Second" width="500" height="300">
                </div>
                <div class="carousel-item">
                    <img src="Images/3.jpg" alt="Third" width="500" height="300">
                </div>
            </div>
           
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    @*<div class="row content row-second">
        <p class="text">
                Florile ne infrumuseteaza viata, nu doar casa si gradina. 
                Oamenii de stiinta arata ca florile aduc buna-dispozitie si ne pot ajuta sa trecem peste perioadele negre din viata, 
                cand se poate instala depresia.
                Se stie ca florile simbolizeaza dragostea, prietenia, compasiunea si sunt prezente la orice sarbatoare. 
                Fac mereu parte din viata noastra: ne inveselesc gradinile si ne incanta prin culoare si delicatete. 
                Insa nu fac doar atat: florile ne imbunatatesc dispozitia si au un adevarat efect curativ.
        </p>
    </div>*@
</div>